<html>
    <head>
        <title>Account confirmation</title>
    </head>
    <p>
        <h3>Welcome to Scipio {{login}} !</h3>
        <p>This e-mail was sent to you because an account was created on the Scipio application with this e-mail.</p>
        <p>You can click on the following link to confirm your account creation on Scipio, if you have any further question you can read the FAQ section of the application.</p>
        <a href={{url}}>Activate my account !</a>
        <br/>
        <br/>
        <hr/>
        <footer>
            <p>If you are not the concerned person, please ignore this e-mail. You can also report this incident at scipio@tircher.be and we will look into it.</p>
        </footer>
    </body>
</html>