<div id="view_success_admin" class="view container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>Admin Page</h1>
            <p>Welcome admin !</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-user-circle"></i> Users
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="adminPageUsersDataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Login</th>
                                <th>Email</th>
                                <th>Active</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer small text-muted">List of the users of Scipio</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-user-circle"></i> Permissions
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="adminPagePermissionsDataTable" width="100%"
                               cellspacing="0">
                            <thead>
                            <tr>
                                <th>Login</th>
                                <th>Permissions</th>
                                <th>Add</th>
                                <th>Remove</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer small text-muted">Manage the access of the users of Scipio</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-user-circle"></i> Create a new User
                </div>
                <div class="card-body">
                    <form name="adminPageCreateUserForm">
                        <div class="form-group">
                            <label for="adminPageCreateUserFormLogin">The base login of the user</label>
                            <input class="form-control" type="text" id="adminPageCreateUserFormLogin" name="login">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" id="adminPageCreateUserFormButton" type="button">Get Code
                            </button>
                        </div>
                    </form>
                    <form>
                        <div class="form-group">
                            <label for="adminPageCreateUserFormCode">Generated code</label>
                            <input class="form-control" type="text" id="adminPageCreateUserFormCode">
                        </div>
                    </form>
                </div>
                <div class="card-footer small text-muted">Create a new user code with a set login</div>
            </div>
        </div>
    </div>

    <script>
        deactivateUser = (login) => {
            if (confirm("This user won't be able to log back in, are you sure you want to deactivate the account of " + login + " ?")) {
                $.ajax({
                    url: '/api/admin/deactivate-user',
                    data: {
                        login: login
                    },
                    type: 'POST',
                    noprint: true
                })
                    .then(ret => {
                        toastS("Account was deactivated");
                        loadAdminPageUsersDataTable();
                    })
            }
        };

        resendConfirmationEmail = (login) => {
            $.ajax({
                url: '/api/admin/resend-mail',
                data: {
                    login: login
                },
                type: 'POST',
                noprint: true
            })
                .then(ret => {
                    toastS("Mail sent");
                })
        };

        getUsers = async () => {
            return await $.ajax({
                url: '/api/user',
                type: 'GET',
                noprint: true
            });
        };

        getPermissions = async () => {
            return await $.ajax({
                url:'/api/permission',
                type: 'GET',
                noprint: true
            })
        };

        formatPermissionsAddSelect = (userPerms, allPerms, login) => {
            let ret = '<div class="form-group">' +
                '<select id="adminPageUserAddPermissionSelect_' + login + '" class="form-control">';
            allPerms.forEach(perm => {
                if(!userPerms.includes(perm.name)){
                    ret += "<option value=" + perm.name + ">" + (perm.name).replace(/_/g, ' ') + "</option>";
                }
            });
            ret += '</select>' +
                '</div>' +
                '<div class="form-group">' +
                '<button id="adminPageUserAddPermission_' + login + '" class="btn btn-primary">add</button>' +
                '</div>';
            return ret;
        };

        formatPermissionsRemoveSelect = (userPerms, login) => {
            let ret = '<div class="form-group">' +
                '<select id="adminPageUserRemovePermissionSelect_' + login + '" class="form-control">';
            userPerms.forEach(perm => {
                ret += "<option value=" + perm + ">" + perm.replace(/_/g, ' ') + "</option>";
            });
            ret += '</select>' +
                '</div>' +
                '<div class="form-group">' +
                '<button id="adminPageUserRemovePermission_' + login + '" class="btn btn-primary">remove</button>' +
                '</div>';
            return ret;
        };

        loadAdminPage = async () => {
            let users = await getUsers();
            let permissions = await getPermissions();
            loadAdminPageDataTables(users, permissions);
        };

        adminPageUsersDatatable = $('#adminPageUsersDataTable').DataTable();
        adminPagePermissionsDatatable = $('#adminPagePermissionsDataTable').DataTable();

        loadAdminPageDataTables = async (users, permissions) => {
            if(!users){
                users = await getUsers();
            }

            if(!permissions){
                users = await getPermissions();
            }

            loadAdminPagePermissionsDataTable(users, permissions);
            loadAdminPageUsersDataTable(users);
        };

        loadAdminPagePermissionsDataTable = async (users, permissions) => {
            if (!users) {
                users = await getUsers();
            }

            if(!permissions) {
                permissions = await getPermissions();
            }

            adminPagePermissionsDatatable.clear();

            users.forEach(user => {
                adminPagePermissionsDatatable.row.add([
                    user.login,
                    user.permissions.join(", "),
                    formatPermissionsAddSelect(user.permissions, permissions, user.login),
                    formatPermissionsRemoveSelect(user.permissions, user.login)
                ]).draw();

                $('#adminPageUserAddPermission_' + user.login).click((event) => {
                    addPermission(user.login, $('#adminPageUserAddPermissionSelect_' + user.login).val());
                });

                $('#adminPageUserRemovePermission_' + user.login).click((event) => {
                    removePermission(user.login, $('#adminPageUserRemovePermissionSelect_' + user.login).val());
                });
            })
        };

        addPermission = (login, permission) => {
            $.ajax({
                url:'/api/user/permission',
                type:'POST',
                data:{
                    login: login,
                    permission: permission
                },
                noprint:true,
            })
                .then(ret => {
                    toastS("Successfully added permission");
                    loadAdminPagePermissionsDataTable();
                });
        };

        removePermission = (login, permission) => {
            $.ajax({
                url:'/api/user/permission',
                type:'DELETE',
                data:{
                    login: login,
                    permission: permission
                },
                noprint:true,
            })
                .then(ret => {
                    toastS("Successfully removed permission");
                    loadAdminPagePermissionsDataTable();
                });
        };

        loadAdminPageUsersDataTable = async (users) => {
            if (!users) {
                users = await getUsers();
            }

            adminPageUsersDatatable.clear();

            users.forEach(user => {
                adminPageUsersDatatable.row.add([
                    user.first_name,
                    user.last_name,
                    user.login,
                    user.email,
                    user.active ?
                        '<button id="adminPageUserDeactivate_' + user.login + '" class="btn btn-primary">Desactivate account</button>' :
                        '<button id="adminPageUserResendMail_' + user.login + '" class="btn btn-primary">Resend confirmation mail</button>'
                ]).draw();

                $('#adminPageUserDeactivate_' + user.login).click((event) => {
                    deactivateUser(user.login);
                });

                $('#adminPageUserResendMail_' + user.login).click((event) => {
                    resendConfirmationEmail(user.login);
                });

            });
        };

        $(() => {
            $('#adminPageCreateUserFormButton').click((event) => {
                let data = getFormValuesFromClick(event);
                if (!data || data === {}) return false;
                console.log(data);
                $.ajax({
                    url: '/api/admin/create-code',
                    type: 'GET',
                    data: data,
                    noprint: true
                })
                    .then(ret => {
                        $('#adminPageCreateUserFormCode').val(ret);
                    });
            });

            loadAdminPage();

        })
    </script>
</div>