<div id="view_success_chat" class="view container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>WebRTC</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-comment	"></i> Audio chat
                </div>
                <div class="card-body">
                    <button id="callWebRtc" class="btn btn-dark">Call group</button>
                    <button id="hangUpWebRtc" class="btn btn-dark">Hang Up</button>
                </div>
                <div class="card-footer small text-muted">Choose your channel and join others</div>
            </div>
        </div>
    </div>
    <script>
        $(() => {
            let webrtc = new SimpleWebRTC({
                // localVideoEl: '',
                // remoteVideosEl: '',
                autoRequestMedia: true,
                url: 'https://signalmaster.tircher.be',
                media: {video: false, audio: true}
            });

            webrtc.on('connectionReady', () => {
                console.info("connection ready");
            });

            webrtc.on('readyToCall', () => {
                console.info("Ready to call...");
            });

            $('#callWebRtc').click((event) => {
                webrtc.joinRoom('mainRoom');
            });

            $('#hangUpWebRtc').click((event) => {
               webrtc.leaveRoom();
            });

        });
    </script>
</div>