<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>Communist Split</h1>
            <p>You can manage how much you owe and how much is owed to you here</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-user-circle"></i> Payments
                </div>
                <div class="card-body">
                </div>
                <div class="card-footer small text-muted">Manage your payments</div>
            </div>
        </div>
    </div>
</div>