<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>Conan</h1>
            <p>You can manage here the conan server</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-user-circle"></i> Status
                </div>
                <div class="card-body">
                    <p>Current status : <b id="currentStatusConanServer">...</b></p>
                </div>
                <div class="card-footer small text-muted">Check Current Status of the server</div>
            </div>
        </div>
    </div>
    <script>
        $(() => {
           $.ajax({
               url:'/api/game_server/conan',
               type: 'GET',
               noprint: true
           })
               .then((inUse) => {
                   if(inUse) {
                       $('#currentStatusConanServer').text("Running");
                   } else {
                       $('#currentStatusConanServer').text("Off")
                   }
               })
        });
    </script>
</div>