<div id="view_success_filetransfer" class="view container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>Remote file management</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-comment	"></i> File Sending
                </div>
                <div class="card-body">
                </div>
                <div class="card-footer small text-muted">Send your files on the server</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-comment	"></i> File Fetching
                </div>
                <div class="card-body">
                </div>
                <div class="card-footer small text-muted">Get your files from the server</div>
            </div>
        </div>
    </div>
    <script>
        $(() => {
        });
    </script>
</div>